<!-- <p>adminlogin works!</p> -->
<div class="container mt-7">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <h3 class="card-title text-center">Admin Login</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="admin-email" class="form-label">Admin Email</label>
                <input type="email" class="form-control" id="admin-email" placeholder="Enter admin email" required>
              </div>
              <div class="mb-3">
                <label for="admin-password" class="form-label">Admin Password</label>
                <input type="password" class="form-control" id="admin-password" placeholder="Enter admin password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Admin Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>