h2{
    font-size:x-large;
    position: relative;
    margin-left: 300px;
    text-shadow: 1px 2px gold;
}

.navbar-brand{
    font-size:x-large;

}
.navbar{
    background-color: lightgray;
}
.nav-link:hover{
    color:red;
    font-size: 25px;
}